<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/about">About Page</a>

    </nav>
    <h2>About Section</h2>
    <p>Lorem 
        Jes oksadipsum dolor sit amet consectetur adipisicing elit. Ea iure, quod aspernatur quas voluptatum vel? Quae adipisci molestias numquam facilis expedita explicabo neque quas atque repellat distinctio ea, quasi ipsum!</p>
</body>
</html>
.git/refs/heads/<branch_name>.lock.