    <!DOCTYPE html>
    <html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <nav>
            <a href="/">Home Page</a>
            <a href="/about">About Page</a>
    
        </nav>
             <div>
              
               
                            <h4><%= blog.title %></h4>
                            <p><%= blog.snippet %></p>
                            <p><%= blog.body %></p>
                      
                </div>
    </body>
    </html>
</body>
</html>