<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/about">About Page</a>

    </nav>
            This is a poiaojfs 
</body>
</html>